appdirs==1.4.4
asgiref==3.3.4
certifi==2020.12.5
cffi==1.14.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
distlib==0.3.1
Django==3.2.3
django-cors-headers==3.7.0
django-rest-knox==4.1.0
djangorestframework==3.12.4
filelock==3.0.12
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
mariadb==1.0.6
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-sqlalchemy==0.26.0
mysqlclient @ file:///C:/Users/Raon/Desktop/mysqlclient-1.4.6-cp39-cp39-win32.whl
numpy==1.20.3
opencv-python==4.5.2.52
pandas==1.2.4
pi==0.1.2
Pillow==8.2.0
pipenv==2020.11.15
psycopg2==2.8.6
pycparser==2.20
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pyxing==0.0.5
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
SQLAlchemy==1.4.15
sqlparse==0.4.1
threadpoolctl==2.1.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==2.0.1
