/* Header */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    border-bottom: 1px solid #a4a9bc ;
    z-index: 10;
} 

/* Header (logo, Home, Chatbot, ...) */
.navLink{
  color: #a4a9bc;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-size: 1.2em;
  letter-spacing: 0px;
  cursor: pointer;
}

li :active {
  color: #242e41;
}
/* Header logo 제외 목차 (Home, Chatbot, ...) */
.navMenu{
  display: flex;
  align-items: center;
  padding-top: 1.2rem;
  margin-right: -24px;
}

/* Sign Up + Login */
.navBtn {
   display: flex;
   align-items: center;
   margin-right: 60px;
}
   
/* Sign Up, Login */
.navBtnLink {
  color: #a4a9bc;
  border-radius : 5px;
  margin-left: 10px;
  position: relative;
  letter-spacing: 0px;
  height: 35px;
  font-size: 0.8em;
  padding: 0.6em 1em;
  cursor: pointer;
  text-decoration : none;
  transition: 800ms ease all;
  outline: none;
}
.navBtnLink :active{
  color : #242e41;
}
li{
  list-style: none;
}

 /* 모바일 환경의 경우 */
 @media only screen and (max-width: 768px) {
  .nav{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    border-bottom: 1px solid #a4a9bc ;
    z-index: 10;
    
  }
  /* 모바일 환경의 경우 탭이 클릭되면 목차가 보이도록 */
  .navMenu{
    background-color : #f5f5f5; 
    position: fixed;
    bottom : 0;
    left: 0;
    right: 0; 
    display: flex;
    margin : 0;
    padding-bottom: 20px;
    height: 3rem;
    font-size: 1rem;
  }
  .navLink{
    padding : 20px;
    right: 32px;
  }
}