.chatbot{
  margin-top: 20px;
  display:flex;
}
/*========== 왼쪽 챗봇 리스트 ==========*/
.chatbotLeft {
  margin:0;
  padding:0;
  background-color: #cad0d8;
  border-right: 1px solid #a4a9bc;
  height:100vh;
}
.chatbotList{
  margin: 2rem;
  
}
/*========== 오른쪽 챗봇 채팅 ==========*/
.chatbotRight {
  background-color: rgb(240, 234, 234);
  height: 100vh;
  flex-grow: 1;
    
}
.chatbotName {
  width:100%;
  padding: 20px;
  background: #cad0d8;
  border-bottom: 1px solid #a4a9bc;
}

/*====== 톡 보내기 ======*/
.chatbotTalk {
  margin: 20px 0;
  display:flex;
  flex-direction: column;
}
.chatbotTalk > li {
  margin-top: 20px;
}
.center {
  text-align: center;
  margin:20px;
}
.talkDay {
  color: #fff;
  background-color: #cad0d8;
  border-radius: 80px;
  padding: 10px;
  font-size: 0.7rem;
}
/* 챗봇 이미지 */
.chatbotImage {
  display:inline-block;
  border: 2px solid #a4a9bc;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 5px ;
  margin: 15px;
  
}
/* 받은 메시지 */
.getTalk{
  display:flex;
  font-size: 0.85rem;
}
.getTalkAbout {
  margin-left:0;
  display: flex;
}
.getMsg{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #425e7f;
  padding: 10px;
  padding-right: 50px;
}
.talkContainer{
  margin-top: 20px;
}
.talkChatbotName {
  color: #425e7f;
}
.talkTime {
  color: #a4a9bc;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  bottom: 0;
}

/* 보낸 메시지 */
.sendTalk{
  font-size: 0.85rem;
}
.sendMsg {
  border-radius: 2px;
  background-color: #a4a9bc ;
  padding: 10px;
  padding-right: 50px;
}
.sendTalkAbout{
  float: right;
  display: flex;
  margin-top: 0;
  margin-right:20px;
}

/* ===========  톡 보내기 =========== */
.chatbotSandTalk{
  width: 100%;
  border-bottom: 1px solid #a4a9bc;
  bottom:0px;
  padding: 0;
}
.talkBox{
  height: 84vh;
}
@media only screen and (max-width: 768px) {
  .chatbotSandTalk{
    border-bottom: 1px solid #a4a9bc;
    bottom:49px;
    padding: 0;
    display: flex;
  }
  .talkBox{
    height: 79vh;
  }
}
.formControl {
  flex: 1;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
  color: #333;
  
}
.inputSendBox{
  display: flex;
  padding-right: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  margin: 10px;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #444;
  text-align: center;
  white-space: nowrap;
  background-color: #f9f8fc;
  border: 1px solid #cbc8d0;
}