.home_container {
  margin-top: 60px;
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image text"
    "image text";
}
.home_container div {
  padding: 20px;
}
.home_logo {
  margin-top: 60px;
}
.home_image {
  grid-area: image;
}
.home_text {
  grid-area: text;
}
.Himeeting_about {
  margin: 20px;
}
.small_font {
  font-size: 1rem;
  color: #84888d;
}
.bold_font {
  font-size: 2rem;
  font-weight: bold;
}
.chatBot_category {
  margin: 20px;
  background: #425e7f;
  color: #fff;
  border: none;
  margin-right: 20px;
  position: relative;
  height: 60px;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.chatBot_category:hover {
  background: #fff;
  color: #425e7f;
}
.chatBot_category:before,
.chatBot_category:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #cad0d8;
  transition: 400ms ease all;
}
.chatBot_category:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.chatBot_category:hover:before,
.chatBot_category:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
